<!--
<head>
  <meta charset="utf-8">
  <title>itsaGO</title>
{{!-- here we have the icon on the web browser --}}
<link href="./css/img/favicon.ico" rel="icon"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
<link rel="stylesheet" href="./css/master.css">
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Fjalla+One|Ultra|Zilla+Slab+Highlight" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Fjalla+One|Ultra|Zilla+Slab+Highlight" rel="stylesheet">
<link rel="stylesheet" href="/public/css/test.css">
</head> -->
<!-- NAVBAR -->
<!--
<div class="mainContainer">
  <div class="navbar">
  <nav>
    <div class="nav-wrapper">
     <a href="/" class="brand-logo">itsaGO</a>
    <ul class="right hide-on-med-and-down navList">
      {{!-- <li><a href="login">Login</a></li> --}}
      <li><a href="signout">Log Out</a></li>
      <li><a href="dashboard">Event Dashboard</a></li>
      <li><a href="/">Home</a></li>
      <li><a href= "https://github.com/marianapt/Project2" target="_blank"></a>GitHub</li>
    </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>
  </div> -->

<!-- END NAVBAR -->

<div class="container"> <!-- main container -->
<div class="row fig">
    <div class="col s8">
      <h3>{{this.eventName}}</h3>
        <p> Date: {{this.date}}</p>
        <p> Cost: {{this.totalCost}}</p>
        <p> Cost per person: {{this.maxCPP}}</p>
        <p> Notes: {{this.notes}}</p>
        <br>
        <div class="">
          <h4>Guests:</h4>
          <p>John</p>
          <p>Jacque</p>
          <p>Will</p>
          <p>Jayme</p>
          <p>Mariana</p>
        </div>
<!-- </div>
    <div class="col s4 map">
      <h4 id="upcoming"><strong>Total People to Go! <strong> </span></h4>
      <p> Current Count: (this.currentCount) {{this.currentCount}}</p>
      <p> Total Count Needed: (this.finalCount){{this.finalCount}}</p>
    </div>
</div> -->


<!-- <div class="row newton">
<div class="col s12">
  <div class="row innernewton">
  <div class="col s10">
  <h3> Guests List: <h3>
  <h5>(this.guestList){{this.guestList}}</h5>
  </div>
  </div>
</div>
</div> -->




</div>
<div class="col s2">
  <form action="/api/user/savecc" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_MfMLV8cfYDwI9mWNH5qi0tya"
    data-amount="{{this.maxCPP}}"
    data-name="It's a Go"
    data-description="{{this.eventName}}"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  </form>
</div>


{{!--   SIDE NAV --}}
  <!-- <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Sign Out</a></li>
    <li><a href="dashboard">Event Dashboard</a></li>
    <li><a href="/">Home</a></li>
  </ul>
    <li><a href= "https://github.com/marianapt/Project2" target="_blank"><img src="images/github.png" alt="GitHub" width=40 height=40</a></li>
  </ul> -->
